---
layout: default
---

<div class="home">

  <p><img src={{ "/imgs/banner.jpg" | absolute_url }} alt="banner"/></p>

  {% if site.posts.size > 0 %}

  <!-- This loops through the paginated posts -->
  <ul class="post-list">
    {%- for post in paginator.posts -%}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
      {{ post.excerpt }}
      <a class="link" href="{{ post.url | relative_url }}">
        Read more...
      </a>
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>

  <!-- This shows navigation links -->
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <b>{{ page }}</b>
    {% elsif page == 1 %}
    <a href="{{ site.url }}">{{ page }}</a>
    {% else %}
    <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a>
    {% endif %}
  </div>
  {% endif %}

  {% endif %}

</div>
