<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p>Copyright &copy Alif Wahid</p>
        <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src={{ "/imgs/cc-by-nc-sa-v4-int-lic.png" | absolute_url }}/></a>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>Static website last built on:</p>
        <p>{{- site.time -}}</p>
      </div>
    </div>

  </div>

</footer>
