---
---

@import "minima";

.pagination a, .pagination em, .pagination span {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -2px;
    margin-right: -2px;
    display: inline-block;
  }

.pagination {
    text-align: center;
 }

.site-search {
    margin-left: 20px;
    line-height: $base-line-height * $base-font-size * 2.25;
    display: inline-block;
}
